Repository JiyuShao/flutter-dom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(core/js-runtime): add js-runtime package
  .gitignore
  LICENSE
  packages/core/flutter-dom/android/app/build.gradle
  packages/core/flutter-dom/lib/main.dart
  packages/core/flutter-dom/lib/models/app_theme_model.dart
  packages/core/flutter-dom/lib/models/page_route_model.dart
  packages/core/flutter-dom/lib/screens/entry_screen.dart
  packages/core/flutter-dom/lib/screens/error_screen.dart
  packages/core/flutter-dom/lib/screens/js_example_screen.dart
  packages/core/flutter-dom/lib/screens/not_found_screen.dart
  packages/core/flutter-dom/lib/widgets/page_scaffold/page_scaffold.dart
  packages/core/flutter-dom/linux/flutter/generated_plugin_registrant.cc
  packages/core/flutter-dom/linux/flutter/generated_plugins.cmake
  packages/core/flutter-dom/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/core/flutter-dom/pubspec.lock
  packages/core/flutter-dom/pubspec.yaml
  packages/core/flutter-dom/windows/flutter/generated_plugin_registrant.cc
  packages/core/flutter-dom/windows/flutter/generated_plugins.cmake
  packages/core/js-runtime/.gitignore
  packages/core/js-runtime/.metadata
  packages/core/js-runtime/CHANGELOG.md
  packages/core/js-runtime/LICENSE
  packages/core/js-runtime/README.md
  packages/core/js-runtime/analysis_options.yaml
  packages/core/js-runtime/lib/common/eval_result.dart
  packages/core/js-runtime/lib/common/runtime.dart
  packages/core/js-runtime/lib/js_runtime.dart
  packages/core/js-runtime/lib/js_runtime_main.dart
  packages/core/js-runtime/lib/js_runtime_native.dart
  packages/core/js-runtime/lib/js_runtime_web.dart
  packages/core/js-runtime/lib/utils/logger.dart
  packages/core/js-runtime/pubspec.yaml
  packages/core/js-runtime/test/js_runtime_test.dart
Due: prettier --write

test(core/js-runtime): add web integration_test
  package.json
  packages/core/flutter-dom/README.md
  packages/core/flutter-dom/analysis_options.yaml
  packages/core/flutter-dom/lib/screens/js_example_screen.dart
  packages/core/flutter-dom/package.json
  packages/core/js-runtime/.gitignore
  packages/core/js-runtime/LICENSE
  packages/core/js-runtime/analysis_options.yaml
  packages/core/js-runtime/lib/common/runtime.dart
  packages/core/js-runtime/lib/js_runtime.dart
  packages/core/js-runtime/lib/js_runtime_main.dart
  packages/core/js-runtime/lib/js_runtime_native.dart
  packages/core/js-runtime/lib/js_runtime_web.dart
  packages/core/js-runtime/package.json
  packages/core/js-runtime/pubspec.yaml
  packages/core/js-runtime/test/driver/integration_test.dart
  packages/core/js-runtime/test/integration_test/integration_test.dart
  packages/core/js-runtime/test/integration_test_web.sh
  packages/core/js-runtime/test/js_runtime_test.dart
  packages/core/js-runtime/test/unit_test/js_runtime_test.dart
  packages/core/js-runtime/web/favicon.png
  packages/core/js-runtime/web/icons/Icon-192.png
  packages/core/js-runtime/web/icons/Icon-512.png
  packages/core/js-runtime/web/icons/Icon-maskable-192.png
  packages/core/js-runtime/web/icons/Icon-maskable-512.png
  packages/core/js-runtime/web/index.html
  packages/core/js-runtime/web/manifest.json
  packages/scaffold/cli/package.json
  packages/scaffold/logger/package.json
  packages/scaffold/tsconfig/package.json
  yarn.lock
Due: prettier --write

test(core/js-runtime): add android integration test
  package.json
  packages/core/js-runtime/android/.gitignore
  packages/core/js-runtime/android/app/build.gradle
  packages/core/js-runtime/android/app/src/debug/AndroidManifest.xml
  packages/core/js-runtime/android/app/src/main/AndroidManifest.xml
  packages/core/js-runtime/android/app/src/main/kotlin/com/example/flutter_dom/MainActivity.kt
  packages/core/js-runtime/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/core/js-runtime/android/app/src/main/res/drawable/launch_background.xml
  packages/core/js-runtime/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/core/js-runtime/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/core/js-runtime/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/core/js-runtime/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/core/js-runtime/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/core/js-runtime/android/app/src/main/res/values-night/styles.xml
  packages/core/js-runtime/android/app/src/main/res/values/styles.xml
  packages/core/js-runtime/android/app/src/profile/AndroidManifest.xml
  packages/core/js-runtime/android/build.gradle
  packages/core/js-runtime/android/gradle.properties
  packages/core/js-runtime/android/gradle/wrapper/gradle-wrapper.properties
  packages/core/js-runtime/android/settings.gradle
  packages/core/js-runtime/lib/common/runtime.dart
  packages/core/js-runtime/lib/js_runtime_native.dart
  packages/core/js-runtime/package.json
  packages/core/js-runtime/test/integration_test/integration_test.dart
  packages/core/js-runtime/test/integration_test_android.sh
  packages/core/js-runtime/test/unit_test/js_runtime_test.dart
Due: prettier --write

feat(core/js-runtime): add isolated_worker to implement js-runtime on web
  .eslintignore
  .prettierignore
  packages/core/flutter-dom/analysis_options.yaml
  packages/core/flutter-dom/lib/screens/js_example_screen.dart
  packages/core/js-runtime/.gitignore
  packages/core/js-runtime/analysis_options.yaml
  packages/core/js-runtime/lib/common/runtime.dart
  packages/core/js-runtime/lib/js_runtime_native.dart
  packages/core/js-runtime/lib/js_runtime_web.dart
  packages/core/js-runtime/pubspec.yaml
  packages/core/js-runtime/test/integration_test/integration_test.dart
  packages/core/js-runtime/test/integration_test_web.sh
  packages/core/js-runtime/web/worker.js
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(core/js-runtime): add js-runtime polyfill project
  package.json
  packages/core/js-runtime/lib/common/logger.dart
  packages/core/js-runtime/lib/common/polyfill.dart
  packages/core/js-runtime/lib/js_runtime.dart
  packages/core/js-runtime/lib/js_runtime_web.dart
  packages/core/js-runtime/lib/platform/js_runtime_main.dart
  packages/core/js-runtime/lib/platform/js_runtime_native.dart
  packages/core/js-runtime/lib/platform/js_runtime_web.dart
  packages/core/js-runtime/pubspec.yaml
  packages/core/js-runtime/web/index.html
  packages/core/js-runtime/web/worker.js
  packages/core/polyfill/README.md
  packages/core/polyfill/package.json
  packages/core/polyfill/scripts/build.ts
  packages/core/polyfill/scripts/debug.ts
  packages/core/polyfill/scripts/webpack.config.ts
  packages/core/polyfill/src/js-runtime-polyfill.ts
  packages/core/polyfill/tsconfig.json
  packages/scaffold/cli/tsconfig.json
  yarn.lock
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(core/js-runtime): js-runtime add browser support
  packages/core/flutter-dom/lib/screens/js_example_screen.dart
  packages/core/js-runtime/lib/common/eval_result.dart
  packages/core/js-runtime/lib/common/polyfill.dart
  packages/core/js-runtime/lib/common/runtime.dart
  packages/core/js-runtime/lib/platform/js_runtime_native.dart
  packages/core/js-runtime/lib/platform/js_runtime_web.dart
  packages/core/js-runtime/test/integration_test/integration_test.dart
  packages/core/polyfill/package.json
  packages/core/polyfill/scripts/webpack.config.ts
  packages/core/polyfill/src/js-runtime-polyfill.ts
  yarn.lock
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(core/js-runtime): change evaluate logic
  packages/core/js-runtime/lib/common/eval_result.dart
  packages/core/js-runtime/lib/common/polyfill.dart
  packages/core/js-runtime/lib/js_runtime.dart
  packages/core/js-runtime/lib/platform/js_runtime_native.dart
  packages/core/js-runtime/lib/platform/js_runtime_web.dart
  packages/core/js-runtime/test/integration_test/integration_test.dart
  packages/core/polyfill/src/js-runtime-polyfill.ts
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(core/js-runtime): change flutter_js to flutter_qjs
  packages/core/js-runtime/lib/common/runtime.dart
  packages/core/js-runtime/lib/js_runtime.dart
  packages/core/js-runtime/lib/platform/default/index.dart
  packages/core/js-runtime/lib/platform/js_runtime_native.dart
  packages/core/js-runtime/lib/platform/native/index.dart
  packages/core/js-runtime/lib/platform/web/helper.dart
  packages/core/js-runtime/lib/platform/web/index.dart
  packages/core/js-runtime/lib/platform/web/polyfill.dart
  packages/core/js-runtime/pubspec.yaml
  packages/core/js-runtime/test/integration_test/integration_test.dart
  packages/core/polyfill/src/js-runtime-polyfill.ts
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

fix(core/js-runtime): using json string in web platform(LegacyJavaScriptObject cannot iterate)
  packages/core/js-runtime/lib/platform/web/polyfill.dart
  packages/core/polyfill/src/js-runtime-polyfill.ts
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(core/js-runtime): remove unnecessary jsToDart helper
  packages/core/js-runtime/lib/platform/web/helper.dart
Due: none

feat(core/flutter-qjs): add flutter-qjs as git submodule
  .gitmodules
  README.md
  analysis_options.yaml
  package.json
  packages/core/js-runtime/pubspec.yaml
Due: prettier --write

feat(code/js-runtime): finish flutter_qjs JS value to Dart value convert logic
  .eslintignore
  .github/workflows/test.yml
  .prettierignore
  package.json
  packages/core/flutter-dom/linux/flutter/generated_plugin_registrant.cc
  packages/core/flutter-dom/linux/flutter/generated_plugins.cmake
  packages/core/flutter-dom/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/core/flutter-dom/pubspec.lock
  packages/core/flutter-dom/pubspec.yaml
  packages/core/flutter-dom/windows/flutter/generated_plugin_registrant.cc
  packages/core/flutter-dom/windows/flutter/generated_plugins.cmake
  packages/core/js-runtime/lib/platform/native/helper.dart
  packages/core/js-runtime/lib/platform/native/index.dart
  packages/core/js-runtime/package.json
  packages/core/js-runtime/test/integration_test/integration_test.dart
  packages/core/js-runtime/test/integration_test_android.sh
  packages/core/polyfill/src/js-runtime-polyfill.ts
  yarn.lock
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(core/flutter-qjs): remove git submodule
  .gitmodules
  packages/core/flutter-dom/pubspec.lock
  packages/core/flutter-dom/pubspec.yaml
  packages/core/js-runtime/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/core/js-runtime/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/core/js-runtime/macos/Flutter/ephemeral/flutter_export_environment.sh
  packages/core/js-runtime/pubspec.yaml
Due: prettier --write

fix(core/js-runtime): add auto load JsRuntimePolyfill logic
  README.md
  packages/core/flutter-dom/lib/screens/js_example_screen.dart
  packages/core/js-runtime/lib/platform/web/index.dart
  packages/core/js-runtime/lib/platform/web/load_script.dart
  packages/core/js-runtime/lib/platform/web/polyfill.dart
  packages/core/js-runtime/web/index.html
  packages/core/polyfill/scripts/webpack.config.ts
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

fix(js_runtime): typo
  packages/core/js_runtime/lib/platform/web/polyfill.dart
  packages/scaffold/cli/src/components/index.ts
  packages/scaffold/logger/src/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(flutter_dom): add macos target support
  packages/core/flutter_dom/ios/Flutter/Debug.xcconfig
  packages/core/flutter_dom/ios/Flutter/Release.xcconfig
  packages/core/flutter_dom/ios/Podfile
  packages/core/flutter_dom/macos/Flutter/Flutter-Debug.xcconfig
  packages/core/flutter_dom/macos/Flutter/Flutter-Release.xcconfig
  packages/core/flutter_dom/macos/Podfile
  packages/core/flutter_dom/macos/Podfile.lock
  packages/core/flutter_dom/macos/Runner.xcodeproj/project.pbxproj
  packages/core/flutter_dom/macos/Runner.xcworkspace/contents.xcworkspacedata
Due: none

feat(js_runtime): add integration_test_macos support
  packages/core/js_runtime/macos/.gitignore
  packages/core/js_runtime/macos/Flutter/Flutter-Debug.xcconfig
  packages/core/js_runtime/macos/Flutter/Flutter-Release.xcconfig
  packages/core/js_runtime/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/core/js_runtime/macos/Podfile
  packages/core/js_runtime/macos/Podfile.lock
  packages/core/js_runtime/macos/Runner.xcodeproj/project.pbxproj
  packages/core/js_runtime/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/core/js_runtime/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/core/js_runtime/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/core/js_runtime/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/core/js_runtime/macos/Runner/AppDelegate.swift
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/core/js_runtime/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/core/js_runtime/macos/Runner/Base.lproj/MainMenu.xib
  packages/core/js_runtime/macos/Runner/Configs/AppInfo.xcconfig
  packages/core/js_runtime/macos/Runner/Configs/Debug.xcconfig
  packages/core/js_runtime/macos/Runner/Configs/Release.xcconfig
  packages/core/js_runtime/macos/Runner/Configs/Warnings.xcconfig
  packages/core/js_runtime/macos/Runner/DebugProfile.entitlements
  packages/core/js_runtime/macos/Runner/Info.plist
  packages/core/js_runtime/macos/Runner/MainFlutterWindow.swift
  packages/core/js_runtime/macos/Runner/Release.entitlements
  packages/core/js_runtime/test/integration_test_macos.sh
Due: prettier --write

test(workflow): add github workflow test logic
  .github/workflows/test.yml
  packages/core/flutter_dom/lib/main.dart
Due: prettier --write

fix(workflow): fix test-js-runtime working-directory
  .github/workflows/test.yml
Due: prettier --write

fix(test): remove fvm from js_runtime test script
  .github/workflows/js_runtime.yml
  packages/core/js_runtime/test/integration_test/integration_test.dart
  packages/core/js_runtime/test/integration_test_android.sh
  packages/core/js_runtime/test/integration_test_macos.sh
  packages/core/js_runtime/test/integration_test_web.sh
Due: prettier --write

test(workflow): add integration_test_android logic
  .github/workflows/js_runtime.yml
  packages/core/js_runtime/lib/platform/native/helper.dart
Due: prettier --write

docs(contribute): add contributing docs
  CONTRIBUTING.md
  README.md
  packages/core/flutter_dom/package.json
  packages/core/js_runtime/package.json
Due: prettier --write

feat(example): change description
  packages/core/flutter_dom/example/lib/screens/js_example_screen.dart
  packages/core/js_runtime/example/lib/screens/js_example_screen.dart
Due: none

feat(flutter_dom): rename kraken to flutter_dom
  packages/core/flutter_dom/lib/src/bridge/dynamic_library.dart
  packages/core/flutter_dom/lib/src/dom/element.dart
  packages/core/flutter_dom/lib/src/dom/elements/text_form_control.dart
  packages/core/flutter_dom/lib/src/dom/node.dart
  packages/core/flutter_dom/lib/src/dom/screen.dart
  packages/core/flutter_dom/lib/src/foundation/http_client_interceptor.dart
  packages/core/flutter_dom/lib/src/gesture/gesture_dispatcher.dart
  packages/core/flutter_dom/lib/src/launcher/controller.dart
  packages/core/flutter_dom/lib/src/module/fetch.dart
  packages/core/flutter_dom/lib/src/module/navigation.dart
  packages/core/flutter_dom/lib/src/painting/image_provider_factory.dart
  packages/core/flutter_dom/lib/src/rendering/box_model.dart
  packages/core/flutter_dom/lib/src/rendering/flow.dart
Due: none

feat(flutter_dom): add example page to flutter_dom
  .eslintignore
  .gitignore
  .prettierignore
  .vscode/launch.json
  packages/core/flutter_dom/example/assets/bundle.html
  packages/core/flutter_dom/example/assets/bundle.js
  packages/core/flutter_dom/example/assets/demos/console-log-demo.js
  packages/core/flutter_dom/example/assets/logo.png
  packages/core/flutter_dom/example/lib/main.dart
  packages/core/flutter_dom/example/lib/models/page_route_model.dart
  packages/core/flutter_dom/example/lib/screens/flutter_dom_example_screen.dart
  packages/core/flutter_dom/example/lib/screens/js_example_screen.dart
  packages/core/flutter_dom/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/core/flutter_dom/example/macos/Podfile.lock
  packages/core/flutter_dom/example/pubspec.lock
  packages/core/flutter_dom/example/pubspec.yaml
  packages/core/flutter_dom/lib/bridge.dart
  packages/core/flutter_dom/lib/src/bridge/dynamic_library.dart
  packages/core/flutter_dom/lib/src/bridge/to_native.dart
  packages/core/flutter_dom/lib/src/module/method_channel.dart
  packages/core/flutter_dom/pubspec.yaml
  packages/core/polyfill/README.md
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

feat(flutter_dom): add flutter-dom-bridge polyfill; change mount logic to wait controller inited
  .eslintignore
  .prettierignore
  package.json
  packages/flutter_dom/lib/src/bridge/bridge.dart
  packages/flutter_dom/lib/src/bridge/to_native.dart
  packages/flutter_dom/lib/src/bridge/utils/page_pool.dart
  packages/flutter_dom/lib/src/dom/elements/script.dart
  packages/flutter_dom/lib/src/dom/node.dart
  packages/flutter_dom/lib/src/foundation/http_client_interceptor.dart
  packages/flutter_dom/lib/src/gesture/gesture_dispatcher.dart
  packages/flutter_dom/lib/src/launcher/controller.dart
  packages/flutter_dom/lib/src/launcher/launcher.dart
  packages/flutter_dom/lib/src/rendering/box_model.dart
  packages/flutter_dom/lib/src/widget/flutter_dom.dart
  packages/polyfill/scripts/webpack.config.ts
  packages/polyfill/src/flutter-dom-bridge/async-storage.ts
  packages/polyfill/src/flutter-dom-bridge/bridge.ts
  packages/polyfill/src/flutter-dom-bridge/connection.ts
  packages/polyfill/src/flutter-dom-bridge/console.ts
  packages/polyfill/src/flutter-dom-bridge/cookie.ts
  packages/polyfill/src/flutter-dom-bridge/dom.ts
  packages/polyfill/src/flutter-dom-bridge/fetch.ts
  packages/polyfill/src/flutter-dom-bridge/flutter-dom.ts
  packages/polyfill/src/flutter-dom-bridge/helpers.ts
  packages/polyfill/src/flutter-dom-bridge/history.ts
  packages/polyfill/src/flutter-dom-bridge/index.ts
  packages/polyfill/src/flutter-dom-bridge/location.ts
  packages/polyfill/src/flutter-dom-bridge/match-media.ts
  packages/polyfill/src/flutter-dom-bridge/method-channel.ts
  packages/polyfill/src/flutter-dom-bridge/navigator.ts
  packages/polyfill/src/flutter-dom-bridge/test/console-reporter.js
  packages/polyfill/src/flutter-dom-bridge/test/index.js
  packages/polyfill/src/flutter-dom-bridge/test/jasmine.js
  packages/polyfill/src/flutter-dom-bridge/url-search-params.ts
  packages/polyfill/src/flutter-dom-bridge/url.ts
  packages/polyfill/src/flutter-dom-bridge/xhr.ts
  packages/polyfill/src/js-runtime-polyfill/index.ts
  packages/polyfill/tsconfig.json
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

chore(polyfill): rename polyfill package to bridge
  .eslintignore
  .eslintrc.js
  .prettierignore
  packages/bridge/README.md
  packages/bridge/package.json
  packages/bridge/scripts/build.ts
  packages/bridge/scripts/debug.ts
  packages/bridge/scripts/rollup.config.mjs
  packages/bridge/scripts/webpack.config.ts
  packages/bridge/src/flutter-dom-bridge/async-storage.ts
  packages/bridge/src/flutter-dom-bridge/bridge.ts
  packages/bridge/src/flutter-dom-bridge/connection.ts
  packages/bridge/src/flutter-dom-bridge/console.ts
  packages/bridge/src/flutter-dom-bridge/cookie.ts
  packages/bridge/src/flutter-dom-bridge/dom.ts
  packages/bridge/src/flutter-dom-bridge/fetch.ts
  packages/bridge/src/flutter-dom-bridge/flutter-dom.ts
  packages/bridge/src/flutter-dom-bridge/helpers.ts
  packages/bridge/src/flutter-dom-bridge/history.ts
  packages/bridge/src/flutter-dom-bridge/index.ts
  packages/bridge/src/flutter-dom-bridge/location.ts
  packages/bridge/src/flutter-dom-bridge/match-media.ts
  packages/bridge/src/flutter-dom-bridge/method-channel.ts
  packages/bridge/src/flutter-dom-bridge/navigator.ts
  packages/bridge/src/flutter-dom-bridge/test/console-reporter.js
  packages/bridge/src/flutter-dom-bridge/test/index.js
  packages/bridge/src/flutter-dom-bridge/test/jasmine.js
  packages/bridge/src/flutter-dom-bridge/url-search-params.ts
  packages/bridge/src/flutter-dom-bridge/url.ts
  packages/bridge/src/flutter-dom-bridge/xhr.ts
  packages/bridge/src/js-dom/index.ts
  packages/bridge/src/js-runtime-bridge/index.ts
  packages/bridge/tsconfig.json
  packages/flutter_dom/example/macos/Runner/DebugProfile.entitlements
  packages/flutter_dom/lib/src/bridge/utils/page_pool.dart
  packages/js_runtime/lib/platform/web/bridge.dart
  packages/js_runtime/lib/platform/web/index.dart
  packages/polyfill/README.md
  packages/polyfill/package.json
  yarn.lock
Due: eslint --fix --resolve-plugins-relative-to ., yarn run test:staged, prettier --write

Path conditions:
  eslint --fix --resolve-plugins-relative-to .: any of: *.{js,jsx,ts,tsx}
  yarn run test:staged: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,less,js,jsx,ts,tsx,json,yml,yaml,md}
